
/* para desktop**/
@media screen and (min-width: 1280px){
    .inventario_img_seleccion{
        width: 100% !important;
    }
    .inventario_left_container_group_btn{
        width: 50% !important;
    }
    .inventarios_lista_caja{
        margin-left: 20% !important;
        margin-right: 20% !important;
        max-width: 1024px !important;
    }
}



/* para tablet**/
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .inventario_img_seleccion{
        width: 75% !important;
    }
    .inventario_left_container_group_btn{
        width: 75% !important;
    }
}

/* para phone**/
@media screen and (min-width: 320px) and (max-width: 1023px){
    .inventario_img_seleccion{
        width: 90% !important;
    }
    .inventario_left_container_group_btn{
        width: 100% !important;
    }
    
}